@model IEnumerable<Fitly_Domain.Business.Oefening>

@{
    ViewData["Title"] = "Selecteer Oefeningen";
}

<form asp-action="GekozenOefeningen" asp-controller="Home" method="post">
    <h3 class="mt-5 text-center">Kies je oefeningen</h3>

    <table class="table table-hover mt-4">
        <thead class="table-light">
            <tr>
                <th>Kies</th>
                <th>Oefening</th>
                <th>Calorieën per minuut</th>
                <th>Omschrijving</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oefening in Model)

            {
                <tr>
                    <td>
                        <input type="checkbox" name="gekozenOefeningen" value="@oefening.IdOefening" />
                    </td>
                    <td>@oefening.Naam</td>
                    <td>@oefening.Calorieën</td>
                    <td>@oefening.Omschrijving</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary mt-3">Doe oefeningen</button>
</form>